*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient( 89.9deg,  rgba(178,253,238,0.96) -8.1%, rgba(207,244,254,1) 26.3%, rgba(207,244,254,0.48) 47.5%, rgba(254,219,243,0.63) 61.5%, rgba(254,219,243,1) 78.7%, rgba(254,207,210,1) 109.2% );
}

h1{
    font-family: roboto;
    font-size: 65px;
    background: -webkit-linear-gradient(#134E5E, #71B280);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 60px;  
}

img{
    margin: 30px 0 0 30px;
    -webkit-box-shadow: -1px 1px 29px 10px rgba(173,147,173,1);
    -moz-box-shadow: -1px 1px 29px 10px rgba(173,147,173,1);
    box-shadow: -1px 1px 29px 10px rgba(173,147,173,1);
}
.App-header{
    display: inline;
}
.container{
    display: flex;
    float: right;
}
ul{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
li{
    list-style-type:none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}
h5{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 30px;
}
.address{
    text-align: center;
    margin-top: 10px;
}
